

.post-event-Category{
  max-width: 500px;
  margin: 70px auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  position: relative;
  top: 2rem;
}

/* Container for category list */
.cetegory-list {
  margin-top: 2rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* Header row */
.event-list-tital {
  display: grid;
  grid-template-columns: 150px 350px 1fr 100px; /* No | Image | Name | Active */
  align-items: center;
  background-color: #070707;
  color: #fff;
  font-weight: 600;
  padding: 7px 16px 0px 30px ;
  border-bottom: 1px solid #ccc;
  position: sticky; /* stays on top when scrolling */
  top: 0;
  z-index: 5;
}

/* Data rows */
.Event-list {
  display: flex;
  flex-direction: column;
}

.Event-info {
  display: grid;
  grid-template-columns: 150px 350px 1fr 130px;
  align-items: center;
  padding: 1px 30px;
  border-bottom: 2px solid #dadada;
  transition: background 0.2s ease;
}

.Event-info:hover {
  background: #f8f8f8;
}

/* Columns */
.category-name p {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.category-name img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50px;
}

/* Delete icon */
.icon {
  color: crimson;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon:hover {
  color: darkred;
}
