.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f3f4f6;
  color: #333;
}

.signin-form {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  width: 320px;
  text-align: center;
}

.signin-form h2 {
  margin-bottom: 20px;
  color: #333;
}

.signin-form input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.signin-options {
  text-align: end;
  font-size: 13px;
}

.signin-options a {
  color: #4f46e5;
  text-decoration: none;
}
.signin-options a:hover {
  text-decoration: underline;
}

.signin-form button {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s;
}

.signin-form button:hover {
  background: #4338ca;
}

.signup-link {
  margin-top: 12px;
  font-size: 14px;
}
.signup-link a {
  color: #4f46e5;
  text-decoration: none;
}
.signup-link a:hover {
  text-decoration: underline;
}


.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f3f4f6;
  color: #333;
}

.signup-form {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  width: 350px;
  text-align: center;
}
.signup-form h2 {
  margin-bottom: 20px;
  color: #333;
}

.signup-form input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.gender-options {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  font-size: 14px;
}
label{
    display: flex;
    align-items: center;
    gap: 5px;
}

.remember-me {
  text-align: left;
  margin: 10px 0;
}

.signup-btn {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s;
}

.signup-btn:hover {
  background: #1d4ed8;
}

.signin-link {
  margin-top: 12px;
  font-size: 14px;
}

.signin-link a {
  color: #2563eb;
  text-decoration: none;
}

.signin-link a:hover {
  text-decoration: underline;
}
